# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.production.local
.env.example

# Build folders
dist/
build/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Coverage
coverage/